/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

div#topbar .fl-rich-text p {
  margin: 0;
  padding: 0;
}

div#topbar ul.storename li a {
  font-size: 12px;
}

div#topbar ul.storename .phone a span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 14px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
div#logo .uabb-photo-content .uabb-photo-img {
    height: auto !important;
    max-height: 100%;
	max-width: 250px;
}
.fl-page-nav-right .fl-page-nav-search {
  order: 2;
}

.admin-bar button.rmp_menu_trigger {
  margin-top: 46px;
}
.searchIcon {
/*   position: absolute;
  right: 50px;
  top: 45px;
  width: 20px !important;
  height: 20px;
  z-index: 999;
  cursor: pointer; */
}

.searchIcon .fl-module-content {
  display: none;
}

.searchIcon:before {
  content: "\e96f";
  font-family: "Ultimate-Icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  background: #c9c1b4;
}

#menu-main-menu li a {
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0px;
}

#menu-main-menu li .sub-menu {
  padding: 0px;
  border: 0px;
  min-width: 300px;
}

#menu-main-menu li .sub-menu li a {
  padding: 20px;
  font-size: 12px;
  border-bottom: 1px solid #e3e2e3;
}

#menu-main-menu li .sub-menu li a:hover {
  background: #cf2828;
  color: #fff;
}

#menu-main-menu li .sub-menu li .sub-menu {
  top: 0px;
}

#menu-main-menu .menu-item-has-children .uabb-has-submenu-container a span:after
/* #menu-main-menu-1 .menu-item-has-children .uabb-has-submenu-container a span span:after */ {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-weight: 900;
  margin-left: 5px;
  display: inline-block;
  float: right;
  vertical-align: middle;
}

.fl-content-full.container {
  width: 100%;
  max-width: 100%;
}

.get-dir-btn p {
  margin: 0px;
}

.get-dir-btn .fl-module-content .storename {
  margin-bottom: 0px;
}

.get-dir-btn .fl-module-content .storename .direction a {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 1px solid #c31c1c;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 300px;
  text-align: center;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.get-dir-btn .fl-module-content .storename .direction a:hover {
  background: #af2121;
}

.get-dir-btn .fl-module-content .storename .direction a:hover {
  background: #4b4c60 !important;
}

.get-dir-btn .fl-module-content .storename .direction a:hover {
  border: 1px solid #4b4c60 !important;
}

.gform_wrapper select option {
  color: #000;
}

#gform_wrapper_24 ul li#field_24_7 {
  position: relative;
}

#gform_wrapper_24 ul li#field_24_7 input#input_24_7 {
  width: 100%;
}

#gform_wrapper_24 ul li#field_24_7 input#input_24_7 ~ img {
  position: absolute;
  top: 40%;
  right: 23px;
}

.gform_wrapper ul.gfield_checkbox li input[type="checkbox"] {
  margin-top: -1px !important;
}

.product-detail-layout-5 .product-box .button-wrapper .text-right {
  width: 100%;
  text-align: center;
}
.open_sidebar a.fl-button,
.facet_filters .clear_search_btn,
.facet_filters .close_sidebar_button .close_sidebar {
  text-transform: uppercase;
}
.product-colors ul li.found {
  margin-right: 5px;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #630a0a;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #630a0a;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 14px;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

@media (max-width: 1181px) {
  #menu-main-menu li a {
    font-size: 11px;
  }
}
@media (min-width: 769px) {
  .fl-slide-foreground {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fl-slide-content-wrap {
    width: 100%;
  }
  .fl-slide-content {
    margin: 0px !important;
  }
  .fl-slide.fl-slide-text-center .fl-slide-photo img {
    display: inline-block;
  }
}
@media (max-width: 1100px) {
  .get-dir-btn .fl-module-content .storename .direction a {
    width: 100%;
  }
  .fl-node-5d1664af07fdb .uabb-creative-menu .menu > li {
    margin-right: 0px;
    margin-left: 0px;
  }
  #menu-main-menu li a {
    font-size: 10px;
    padding-left: 0px;
  }
  #menu-main-menu li .sub-menu li a {
    padding-left: 15px;
  }
  .fl-page-bar-nav > li > a {
    padding: 2px 7px;
  }
  .style-product_list .pro-container > .row > .col-md-7 {
    flex: 0 0 57.33333%;
  }
  .style-product_list .pro-container > .row > .col-md-5 {
    flex: 0 0 41.66667%;
  }
  .style-product_list .pro-container .pro-details .button-wrapper {
    justify-content: space-around;
  }
  .style-product_list .pro-container .pro-details .button-wrapper a.button {
    min-width: auto;
    width: auto;
  }
}

@media (min-width: 768px) {
  .fl-page-nav-search {
    display: block;
  }
}

@media (max-width: 992px) {
  div#topbar ul.storename {
    margin: 0;
    padding: 0;
  }
  div#topbar ul.storename .phone a {
    margin-top: 5px;
    display: block;
  }
  a.rmp-menu-item-link {
    text-transform: uppercase;
  }
  .style-product_list .pro-container .pro-details .button-wrapper a.button {
    width: 49%;
  }
  .fl-page-bar-nav > li > a {
    padding: 2px 5px;
  }
  .top-small-img .uabb-photo-content {
    width: 100%;
  }
  .top-small-img .uabb-photo-content img {
    width: 100%;
    display: block;
  }
  .menu-responsive-column {
    position: absolute;
    left: 10px;
    top: 17px;
    display: inline-block;
  }
  .fl-builder-content .fl-node-5d16648f31f41 {
    width: 100% !important;
  }
  .get-dir-btn .fl-module-content .storename .direction a {
    max-width: 300px;
  }
  .fl-node-5d1664af07fdb
    .uabb-creative-menu
    .uabb-menu-overlay
    .uabb-menu-close-btn {
    position: fixed !important;
    top: 30px;
    right: 0px;
    display: inline-block;
  }
  .fl-content-full.container {
    padding: 0px;
  }
}

@media (max-width: 670px) {
  .fl-page-bar .fl-page-bar-row .text-right {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .fl-page-bar .text-right {
    text-align: center;
  }
  .menu-responsive-column {
    left: -10px;
  }
  .searchIcon {
    right: 20px;
  }
}

@media (max-width: 500px) {
  footer .fl-builder-content .footer-logo,
  footer .fl-builder-content .locations-footer {
    width: 100% !important;
  }
  .product-row .fl-post-grid-image > a .exlusive-badge {
    left: 100px;
  }
  .fl-builder-content .full-width-mobile {
    width: 100% !important;
  }
}

.top-bar-nav .phone a span:before {
  content: "\f095";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  margin-right: 5px;
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
}
/* PLP Page Css iPad Air */

@media only screen and (max-width: 321px) {
  div#logo .uabb-photo-content .uabb-photo-img {
    max-width: 165px;
  }
}
